:root {
  --backgroundColor: whitesmoke;
  --sidebarBGColor: rgb(242, 242, 242);
  --paragraphColor: rgb(70, 62, 62);
  --sidebarTextColor: rgb(170, 168, 168);
  --lightAccentColor: rgb(221, 221, 221);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}





#sidebar-container{
  flex-grow: 1;
  min-width: 11em;
  padding-top: 8em;
}

#right-container{
  flex-grow: 1;
  min-width: 11em;
  content:"";
  height: 100vh;
}







#sidebar {
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 0;
  position:sticky;
  top: 2em;
  float: right;
}

#sidebar a {
  border-radius: 16px;
  padding: 0.4em 1em;
  width: 10rem;
  margin: 0.2em 0;
  text-align: right;
  color: var(--sidebarTextColor);
  float: right;
}

#sidebar a:hover {
  background-color: var(--sidebarBGColor);
  box-shadow: inset 0px 0px 8px -4px rgba(0, 0, 0, 0.2);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 60em;
}

header {
  text-align: center;
  padding: 2em 0;
  /* background-color: greenyellow; */
}

.article {
  text-align: justify;
  padding: 2em 4em;
  max-width: 50em;
  line-height: 1.8;
}

p {
  color: var(--paragraphColor);
}

a{
  text-decoration: none;
}



h1 hr {
  width: 16em;
  margin: 0 auto;
  margin-top: 0.6em;
  height: 2px;
  border: 2px solid var(--lightAccentColor);
  border-bottom: 2px solid rgb(235, 237, 237);
  border-radius: 6px;
}

ul {
  margin: 2rem auto;
}

ul li {
  color: var(--paragraphColor);
  margin: 1rem 0;
  background-color: var(--sidebarBGColor);
  box-shadow: 1px 0 10px -4px rgba(0, 0, 0, 0.2);
  padding: 0.8rem 1rem;
  border-radius: 14px;
  list-style: none;
  text-align: center;
}

ol li {
  margin: 1rem 0;
  line-height: 1.6;
}

#blank {
  width: 22rem;
}

h2{
  font-variant: small-caps;
}